/* Include Normalization */
/* @import url("Reset File Url"); */

/* Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
    /* Can obtain global container width here */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    /* Smooth the scrolling on jumping to another position of the page */
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    font-size: 1vw;
    font-family: "Inter", sans-serif;
    color: #000;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col {
    flex-grow: 1;
    padding: 0 15px;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.btn {
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: .9rem 2.3rem;
    background-color: rgb(61, 99, 234);
    color: rgb(238, 240, 249);
} 

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



